site_name: Qadence
repo_url: "https://github.com/pasqal-io/qadence/"
site_url: "https://pasqal-io.github.io/qadence/"
repo_name: "qadence"

nav:
  - Home: index.md

  - Getting started:
    - Installation: getting_started/installation.md
    - Development & Info:
      - Contributing: getting_started/CONTRIBUTING.md
      - Code of conduct: getting_started/CODE_OF_CONDUCT.md
      - License: getting_started/LICENSE.md

  - Contents:
    - Block system: content/block_system.md
    - Parametric programs: content/parameters.md
    - Time-dependent generators: content/time_dependent.md
    - Quantum models: content/quantummodels.md
    - Quantum registers: content/register.md
    - State initialization: content/state_init.md
    - Arbitrary Hamiltonians: content/hamiltonians.md
    - QML Constructors: content/qml_constructors.md
    - Wavefunction overlaps: content/overlap.md
    - Backends: content/backends.md
    - Useful info:
      - State conventions: content/state_conventions.md
      - Serialization: content/serializ_and_prep.md

  - Tutorials:
    - tutorials/index.md
    - Digital-analog quantum computing:
      - tutorials/digital_analog_qc/index.md
      - Basic operations on neutral-atoms: tutorials/digital_analog_qc/analog-basics.md
      - Fitting a function with analog blocks: tutorials/digital_analog_qc/analog-blocks-qcl.md
      - Restricted local addressability: tutorials/digital_analog_qc/semi-local-addressing.md
      - Pulse-level programming with Pulser: tutorials/digital_analog_qc/pulser-basic.md
      - Fitting a function with a Hamiltonian ansatz: tutorials/digital_analog_qc/digital-analog-qcl.md
      - Solve a QUBO problem: tutorials/digital_analog_qc/analog-qubo.md
      - CNOT with interacting qubits: tutorials/digital_analog_qc/daqc-cnot.md

    - Variational quantum algorithms:
      - tutorials/qml/index.md
      - Training tools: tutorials/qml/ml_tools.md
      - Configuring a QNN: tutorials/qml/config_qnn.md
      - Quantum circuit learning: tutorials/qml/qcl.md
      - Solving MaxCut with QAOA: tutorials/qml/qaoa.md
      - Solving a 1D ODE: tutorials/qml/dqc_1d.md

    - Advanced Tutorials:
      - tutorials/advanced_tutorials/index.md
      - Quantum circuits differentiation: tutorials/advanced_tutorials/differentiability.md
      - Custom quantum models: tutorials/advanced_tutorials/custom-models.md
      - Projector blocks: tutorials/advanced_tutorials/projectors.md
      - Profiling and debugging on CUDA devices: tutorials/advanced_tutorials/profiling-and-debugging.md

    - Realistic simulations:
      - tutorials/realistic_sims/index.md
      - Measurement protocols: tutorials/realistic_sims/measurements.md
      - Simulated errors: tutorials/realistic_sims/noise.md
      - Error mitigation: tutorials/realistic_sims/mitigation.md

    - Development:
      - Architecture and sharp bits: tutorials/development/architecture.md
      - Drawing: tutorials/development/draw.md

  - API:
    - Block system: api/blocks.md
    - Operations: api/operations.md
    - Register: api/register.md
    - QuantumCircuit: api/quantumcircuit.md
    - Parameters: api/parameters.md
    - State preparation: api/states.md
    - Noise: api/noise.md
    - Constructors: api/constructors.md
    - Transpilation: api/transpile.md
    - Execution: api/execution.md
    - Quantum models: api/models.md
    - QML tools: api/ml_tools.md
    - Serialization: api/serialization.md
    - Types: api/types.md
    - Drawing: api/draw.md

    - Backends:
      - Abstract backend: api/backends/backend.md
      - PyQTorch: api/backends/pyqtorch.md
      - Pulser: api/backends/pulser.md
      - DifferentiableBackend: api/backends/differentiable.md

edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: docs/extras/overrides/
  logo: extras/assets/logo/qadence_logo_small_white.svg
  features:
  - content.code.annotate
  - navigation.tabs
  - navigation.indexes
  - navigation.sections
  - content.code.copy
  - content.code.annotate

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: custom
    accent: custom
    toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: custom
    toggle:
        icon: material/weather-night
        name: Switch to light mode

markdown_extensions:
- admonition  # for notes
- footnotes
- pymdownx.arithmatex: # for mathjax
    generic: true
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.details
- pymdownx.superfences:
    custom_fences:
    - name: python
      class: python
      validator: "!!python/name:markdown_exec.validator"
      format: "!!python/name:markdown_exec.formatter"

plugins:
- search
- section-index
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        selection:
          filters:
            - "!^_"  # exlude all members starting with _
            - "^__init__$"  # but always include __init__ modules and methods
            - "^__new__$"  # but always include __init__ modules and methods
        options:
          show_root_toc_entry: false
          heading_level: 3
          merge_init_into_class: true
          docstring_section_style: spacy

- markdown-exec

extra:
 version:
   provider: mike

# To get nice tabs
extra_css:
- extras/css/mkdocstrings.css
- extras/css/colors.css
- extras/css/home.css

# For mathjax
extra_javascript:
  - extras/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

watch:
- qadence
