name: Linting

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Qadence
      uses: actions/checkout@v4

    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install

    - name: Check files
      run: |
        pre-commit run --all-files
